doctype html
html
  head
    title My Profile Page
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
    <link href="https://fonts.googleapis.com/css?family=Faster+One" rel="stylesheet">
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js')
    style.
      .modal-header, h4, .close {
      background-color: #99ccff;
      color:white !important;
      text-align: center;
      font-size: 50px;
      font-family: 'Faster One', cursive;
      }
      .modal-footer {
      background-color: #f9f9f9;
      }
  body
    .container
      // Modal
      #myModal.modal.fade(role='dialog', data-backdrop="static" ,data-keyboard="false")
        .modal-dialog
          // Modal content
          .modal-content
            .modal-header(style='padding:35px 50px;')
              h4
                |  Welcome <br> #{profileUser}
            .modal-body(style='padding:40px 50px;')
              <p style="color: green; text-align: center; text-transform: uppercase; text-decoration: underline;">#{updatemsg}</p>
              form(action="update" method="POST")
                .form-group
                  label
                    span.glyphicon.glyphicon-user
                    |  Username
                  input.form-control(type='text', name='username', value="#{un}" disabled)
                .form-group
                  label
                    span.glyphicon.glyphicon-user
                    |  Firstname
                  input.form-control(type='text',name='firstname',value="#{fn}",placeholder='Enter your firstname' required)
                .form-group
                  label
                    span.glyphicon.glyphicon-user
                    |  Lastname
                  input.form-control(type='text',name='lastname',value="#{ln}",placeholder='Enter your lastname' required)
                .form-group
                  label
                    span.glyphicon.glyphicon-list
                    |  Skills
                  input.form-control(type='text', name='skills',value="#{sk}",placeholder='Enter skills, separated by a comma' required)
                br
                button.btn.btn-success.btn-block(type='submit' id="updatebtn")
                  |  Update Profile
                br
              form(action="delete" method="get")
                button.btn.btn-danger.btn-block(type='submit' id="deletebtn")
                  |  DELETE ACCOUNT
            .modal-footer
              button.btn.btn-danger.btn-default.pull-left(type='submit', data-dismiss='modal' onclick="window.location='/'")
                span.glyphicon.glyphicon-remove
                |  Cancel
    script.
      $(document).ready(function(){
      $("#myModal").modal();
      });

      $("#deletebtn").click(function(){
      var verify = confirm("Are you sure you want to delete your account?");
      if(verify){
      window.location = '/';
      }
      else{
      return false;
      }
      });
